html {
  font-size: 10px;
  /* background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center; */
  /* background-size: cover; */
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #272727;
  overflow: hidden;
  box-sizing: border-box;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.identifiers {
  width: 300px;
  height: 200px;
  color: white;
  font-size: 1.5rem;
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;

  /* border: 1px solid rgb(255, 63, 63); */
  /* justify-content: space-between; */
  text-align: right;
  width: 100%;
}

.text-wrap {
  /* padding: 5px; */

  width: 50%;
  top: 0;
  position: relative;
  top: -5px;
}

.span-wrap {
  position: relative;
  width: 50%;
  font-size: 2.7rem;
}

.span-wrap span {
  display: inline-block;
  margin-top: 6px;
}

.identifiers :nth-child(2) .text-wrap {
  width: 100%;
  margin-top: 0px;
  top: 0px;
}

.identifiers :nth-child(2) .span-wrap {
  margin-top: 6px;
}

/*
.container:nth-child(2) {
   border: 1px solid #000; 
}

*/

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  height: 200px;
  transition: all 0.9s ease;
  width: 15rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  border: 1px solid rgb(161, 151, 1);
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 100%;
}

.title {
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  font-size: 7rem;
}
.flex {
  display: flex;
}
.pianoKey {
  background: white;
  color: black;
  /* border-radius: 20px; */
  padding: 5px;
  display: block;
}

.playing {
  transform: scale(0.9);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: inline-block;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(243, 40, 165); */
  margin-top: 90px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}


footer {
 display: flex;
  width: 400px;
  font-size: 2.5rem;
  /* border: 1px solid #000; */
  justify-content: space-around;
  flex-direction: column;
  margin-top: 90px;
  text-align: center;
}

footer p {
  display: inline-block;
  background-color: white;
  padding: 1rem;
  margin: -10px;
  border-radius: 5px;
}
 
